/* reset box size of all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 24px;
}

/* set parent height for all body elements */
html {
    /* viewport height */
    height: 100vh;
}

body {
    /* reference point  */
    min-height: 100%;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
}

h1, h2, h3 {
    font-size: 100%;
    font-family:'Times New Roman', Times, serif;
}

/* default to no bullet points for lists */
ol, ul, li {
    list-style: none;
}